@tailwind base;
@tailwind components;
@tailwind utilities;



.scroll::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
}

.scroll::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, var(--bg-opacity));
    cursor: pointer;
}

.scroll::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #a0aec0;
}